<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727254361271-9g5drmlcclvo8kukgc8pl32hdi0r3ncm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727254361271-9g5drmlcclvo8kukgc8pl32hdi0r3ncm</string>
	<key>API_KEY</key>
	<string>AIzaSyAspXRLDlUAEa1X3Vnb35CDE3o0d4g1ynY</string>
	<key>GCM_SENDER_ID</key>
	<string>727254361271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FlipperGame</string>
	<key>PROJECT_ID</key>
	<string>bravogame-29a10</string>
	<key>STORAGE_BUCKET</key>
	<string>bravogame-29a10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727254361271:ios:03371ddd9bb8760406d932</string>
</dict>
</plist>